<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!-- 公共样式 开始 -->
		<style type="text/css">
		
		#movieImage{
			position:absolute;
			width:200px;
			height:200px;
			right:750px;
			top:20px;
			z-index:100;
		}
		
		#typeList{
			width: 300px;
		}
		</style>
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css">
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="js/jquery-form.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script type="text/javascript" src="../../layui/layui.js"></script>
		<!-- 仅供所有子页面使用
		公共样式 结束 -->
		<link rel="stylesheet" type="text/css" href="css/zxf_page.css"/>
		<!-- easyui -->
		<link rel="stylesheet" type="text/css" href="js/easyui/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="js/easyui/themes/icon.css">
		<script type="text/javascript" src="js/easyui/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="js/easyui/locale/easyui-lang-zh_CN.js"></script>
		<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
		<script type="text/javascript">
			function addImage(){
				$("#ImgUpload").ajaxSubmit(function(message) {  
			  		return;
			    }); 
				
				return false;
			}
			
			function cleanForm(){
				$("input").removeAttr("checked");
				$("#img-change").attr("src","");
				$("#file").val("");
				$("#mname").val("");
				$("#director").val("");
				$("#actor").val("");
				$("#releaseTime").datebox('setValue',"");
				$("#duration").val("");
				$("#region").val("");
				$("#language").val("");
				$("#foreignName").val("");
				CKEDITOR.instances.description.setData("");
			}
			
			function add(){
				var typeList = [];
				var name = $("#mname").val();
				if(name == null || name == ""){
					alert("标题不能为空");
					return;
				}
				if($("#releaseTime").val() == null || $("#releaseTime").val() == ""){
					alert("发表时间不能为空");
					return;
				}
				var date;
				try{
					date = new Date($("#releaseTime").val());
				}catch(err){
					alert("日期格式为:年-月-日");
				}
				
				
				var movieId = $("#moid").val();
				var actor = $("#actor").val();
				var dire = $("#dire").val();
				var releaseTime = date;
				var duration = $("#duration").val();
				var region = $("#region").val();
				var language = $("#language").val();
				var foreignName = $("#foreignName").val();
				var description = CKEDITOR.instances.description.getData();
				$('input[name="typeId"]:checked').each(function(i){
					typeList[i] =$(this).val();
				});
				
				$.post("toAddMovie",{
					typeList:typeList,					
					title:name,
					source:dire,
					editor:actor,
					date:releaseTime,
					author:region,
					content:description
				},function(data){
					$("#moid").val(data.code);
					if($("#file").val() != null && $("#file").val() != ""){
						addImage();
					}
					alert(data.message);
					cleanForm();
				})
			}
		</script>
</head>
<body>
<button onclick="tt()"></button>
		标题:<input class="easyui-text" type="text" id="mname"><br>
		来&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;源:<input class="easyui-text" type="text" id=dire><br>
		编&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;辑:<input class="easyui-text" type="text" id="actor"><br>
		类型: 
		<div id="typeList" name="movieType">
			<label th:each="t:${typeList}" class="check-box">
    			<input id="type" name="typeId" type="checkbox" th:value="${t.atypeId}" th:text="${t.atype}">
			</label>
		</div>
			<br>
		发表时间:<input class="easyui-datebox" type="text" required style="width:200px" id="releaseTime"><br>
		作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者:<input class="easyui-text" type="text" id="region"><br>
		内容:<textarea rows="5" cols="20" id="description" name="description"></textarea>
		<script>
             CKEDITOR.replace( 'description' );
        </script>
		
		
		<script type="text/javascript">
			$("#img-change").click(function () {
			    $("#file").click();
			})
			var filechange=function(event){
			    var files = event.target.files, file;
			    if (files && files.length > 0) {
			        // 获取目前上传的文件
			        file = files[0];// 文件大小校验的动作
			        if(file.size > 1024 * 1024 * 4) {
			            alert('图片大小不能超过 4MB!');
			            return false;
			        }
			        // 获取 window 的 URL 工具
			        var URL = window.URL || window.webkitURL;
			        // 通过 file 生成目标 url
			        var imgURL = URL.createObjectURL(file);
			        //用attr将img的src属性改成获得的url
			        $("#img-change").attr("src",imgURL);
			    }
			};
			
		</script>
        <div id="dlg-buttons">
			<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="add()">确定</a>
		</div>
</html>