<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">

    
    <title th:text="${title}"></title>
    
    <link rel="stylesheet" type="text/css" href="css/all_index_nav_new.css">
  
  <body>
    <!-- S 导航-->
    <!-- S 导航-->
    <div class="topIndex" id="header-wrap">
      <div id="top-ad-wrap" style="display: none;">
        <div class="onPadding">
          <div class="topAd_01">
            <!-- Ad Survey 广告位代码顶通 // 7004730 ->商业频道顶通  --></div>
        </div>
      </div>
      <div class="hdTop">
        <div class="navClick"></div>
        <div class="navTopSec">
          <div class="nav-container">
            <a href="//www.huanqiu.com" target="_self" class="nav-logo"></a>
            <i class="l-line"></i>
            <div class="nav-section">
              <div class="nav-section-submenu"></div>
              <div class="nav-section-article-title"></div>
            </div>
            <form id="search-form" class="search-form" action="" name="headerSearch">
              <div class="search-form-fields">
                <input class="search-input" type="text" placeholder="请输入...">
                <input type="button" class="search-submit-button" value="»"></div>
              <div class="search-button" id="search-button"></div>
            </form>
            <div class="nav-menu" id="menu"></div>
          </div>
        </div>
        <div class="navFlyout">
          <div class="nav-flyout-container">
            <div class="nav-flyout-menu-item s-hight">
              <div class="nav-flyout-menu-item-title">
                <h3>时政
                  <span style="margin: 10px;"></span></h3>
                <h4>Politics
                  <span style="margin: 10px;"></span></h4>
              </div>
              <ul class="nav-flyout-menu-item-list">
                <li>
                  <a href="http://world.huanqiu.com" target="_blank">
                    <span class="name-cn">国际</span>
                    <span class="name-en">World</span></a>
                </li>
                <li>
                  <a href="http://china.huanqiu.com" target="_blank">
                    <span class="name-cn">国内</span>
                    <span class="name-en">China</span></a>
                </li>
                <li>
                  <a href="http://mil.huanqiu.com" target="_blank">
                    <span class="name-cn">军事</span>
                    <span class="name-en">Military</span></a>
                </li>
                <li>
                  <a href="http://taiwan.huanqiu.com" target="_blank">
                    <span class="name-cn">台湾</span>
                    <span class="name-en">Taiwan</span></a>
                </li>
                <li>
                  <a href="http://society.huanqiu.com" target="_blank">
                    <span class="name-cn">社会</span>
                    <span class="name-en">Society</span></a>
                </li>
                <li>
                  <a href="http://look.huanqiu.com" target="_blank">
                    <span class="name-cn">博览</span>
                    <span class="name-en">Look</span></a>
                </li>
              </ul>
            </div>
            <div class="nav-flyout-menu-item s-hight">
              <div class="nav-flyout-menu-item-title">
                <h3>财经
                  <span style="margin: 10px;">&amp;</span>科技</h3>
                <h4>Finance
                  <span style="margin: 10px;">&amp;</span>Technology</h4></div>
              <ul class="nav-flyout-menu-item-list long">
                <li>
                  <a href="http://finance.huanqiu.com" target="_blank">
                    <span class="name-cn">财经</span>
                    <span class="name-en">Financial</span></a>
                </li>
                <li>
                  <a href="http://finance.huanqiu.com/br/picks" target="_blank">
                    <span class="name-cn">一带一路</span>
                    <span class="name-en">Belt and Road</span></a>
                </li>
                <li>
                  <a href="http://finance.huanqiu.com/observation" target="_blank">
                    <span class="name-cn">财观察</span>
                    <span class="name-en">Observation</span></a>
                </li>
                <li>
                  <a href="http://tech.huanqiu.com" target="_blank">
                    <span class="name-cn">科技</span>
                    <span class="name-en">Technology</span></a>
                </li>
              </ul>
            </div>
            <div class="nav-flyout-menu-item s-hight">
              <div class="nav-flyout-menu-item-title">
                <h3>汽车
                  <span style="margin: 10px;">&amp;</span>数码</h3>
                <h4>Auto
                  <span style="margin: 10px;">&amp;</span>Digital</h4></div>
              <ul class="nav-flyout-menu-item-list long3">
                <li>
                  <a href="http://auto.huanqiu.com" target="_blank">
                    <span class="name-cn">汽车</span>
                    <span class="name-en">Auto</span></a>
                </li>
                <li>
                  <a href="http://smart.huanqiu.com" target="_blank">
                    <span class="name-cn">智能</span>
                    <span class="name-en">Smart</span></a>
                </li>
                <li>
                  <a href="http://tech.huanqiu.com/diginews" target="_blank">
                    <span class="name-cn">数码</span>
                    <span class="name-en">Digital</span></a>
                </li>
                <li>
                  <a href="http://uav.huanqiu.com" target="_blank">
                    <span class="name-cn">无人机</span>
                    <span class="name-en">UAV</span></a>
                </li>
                <li>
                  <a href="http://game.huanqiu.com" target="_blank">
                    <span class="name-cn">游戏</span>
                    <span class="name-en">Game</span></a>
                </li>
              </ul>
            </div>
            <div class="nav-flyout-menu-item">
              <div class="nav-flyout-menu-item-title">
                <h3>生活</h3>
                <h4>Life News</h4></div>
              <ul class="nav-flyout-menu-item-list">
                <li>
                  <a href="http://go.huanqiu.com" target="_blank">
                    <span class="name-cn">文旅</span>
                    <span class="name-en">Tourism</span></a>
                </li>
                <li>
                  <a href="http://health.huanqiu.com" target="_blank">
                    <span class="name-cn">健康</span>
                    <span class="name-en">Health</span></a>
                </li>
                <li>
                  <a href="http://lx.huanqiu.com" target="_blank">
                    <span class="name-cn">教育</span>
                    <span class="name-en">Education</span></a>
                </li>
                <li>
                  <a href="http://quality.huanqiu.com" target="_blank">
                    <span class="name-cn">质量</span>
                    <span class="name-en">Quality</span></a>
                </li>
                <li>
                  <a href="http://sports.huanqiu.com" target="_blank">
                    <span class="name-cn">体育</span>
                    <span class="name-en">Sports</span></a>
                </li>
                <li>
                  <a href="http://run.huanqiu.com" target="_blank">
                    <span class="name-cn">跑步</span>
                    <span class="name-en">Run</span></a>
                </li>
                <li>
                  <a href="http://ski.huanqiu.com" target="_blank">
                    <span class="name-cn">滑雪</span>
                    <span class="name-en">Skiing</span></a>
                </li>
              </ul>
            </div>
            <div class="nav-flyout-menu-item">
              <div class="nav-flyout-menu-item-title">
                <h3>风尚</h3>
                <h4>Fashion News</h4></div>
              <ul class="nav-flyout-menu-item-list">
                <li>
                  <a href="http://ent.huanqiu.com" target="_blank">
                    <span class="name-cn">娱乐</span>
                    <span class="name-en">Entertainment</span></a>
                </li>
                <li>
                  <a href="http://fashion.huanqiu.com" target="_blank">
                    <span class="name-cn">时尚</span>
                    <span class="name-en">Fashion</span></a>
                </li>
                <li>
                  <a href="http://art.huanqiu.com" target="_blank">
                    <span class="name-cn">艺术</span>
                    <span class="name-en">Art</span></a>
                </li>
                <li>
                  <a href="http://luxury.huanqiu.com" target="_blank">
                    <span class="name-cn">品鉴</span>
                    <span class="name-en">Luxury</span></a>
                </li>
                <li>
                  <a href="http://cul.huanqiu.com" target="_blank">
                    <span class="name-cn">文化</span>
                    <span class="name-en">Culture</span></a>
                </li>
                <li>
                  <a href="http://hope.huanqiu.com" target="_blank">
                    <span class="name-cn">公益</span>
                    <span class="name-en">Commonweal</span></a>
                </li>
              </ul>
            </div>
            <div class="nav-flyout-menu-item">
              <div class="nav-flyout-menu-item-title">
                <h3>特色
                  <span style="margin: 10px;">&amp;</span>产品</h3>
                <h4>Featured
                  <span style="margin: 10px;">&amp;</span>Products</h4></div>
              <ul class="nav-flyout-menu-item-list long2">
                <li>
                  <a href="http://opinion.huanqiu.com/editorial/" target="_blank">
                    <span class="name-cn">环球社评</span>
                    <span class="name-en">Editorial</span></a>
                </li>
                <li>
                  <a href="http://oversea.huanqiu.com" target="_blank">
                    <span class="name-cn">海外看中国</span>
                    <span class="name-en">Oversee</span></a>
                </li>
                <li>
                  <a href="http://mobile.huanqiu.com/#time" target="_blank">
                    <span class="name-cn">环球 TIME</span>
                    <span class="name-en"></span>
                  </a>
                </li>
                <li>
                  <a href="http://mp.huanqiu.com/" target="_blank">
                    <span class="name-cn">环游号</span>
                    <span class="name-en"></span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="nav-flyout-menu-item">
              <div class="nav-flyout-menu-item-title">
                <h3>环球时报</h3>
                <h4>Newspaper Products</h4></div>
              <ul class="nav-flyout-menu-item-list">
                <li>
                  <a href="http://data.huanqiu.com" target="_blank">
                    <p>版权数据库</p>
                  </a>
                </li>
                <li>
                  <a href="http://www.lifetimes.cn" target="_blank">
                    <p>生命时报</p>
                  </a>
                </li>
                <li>
                  <a href="http://hd.globaltimes.cn" target="_blank">
                    <p>品牌活动</p>
                  </a>
                </li>
                <li>
                  <a href="http://globaltraveler.cn" target="_blank">
                    <p>环球旅游周刊</p>
                  </a>
                </li>
                <li>
                  <a href="http://www.gtfoundation.cn" target="_blank">
                    <p>环球时报公益基金会</p>
                  </a>
                </li>
                <li>
                  <a href="http://humor.huanqiu.com" target="_blank">
                    <p>讽刺与幽默</p>
                  </a>
                </li>
                <li>
                  <a href="http://www.globaltimes.cn" target="_blank">
                    <p>Global Times</p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="nav-flyout-menu-item">
              <div class="nav-flyout-menu-item-title">
                <h3>合作</h3>
                <h4>Cooperation</h4></div>
              <ul class="nav-flyout-menu-item-list long3">
                <li>
                  <a href="http://chamber.huanqiu.com" target="_blank">
                    <span class="name-cn">商协会</span>
                    <span class="name-en">Chamber</span></a>
                </li>
                <li>
                  <a href="http://bigdata.huanqiu.com" target="_blank">
                    <span class="name-cn">大数据</span>
                    <span class="name-en">Bigdata</span></a>
                </li>
                <li>
                  <a href="http://biz.huanqiu.com" target="_blank">
                    <span class="name-cn">商业</span>
                    <span class="name-en">Business</span></a>
                </li>
                <li>
                  <a href="http://city.huanqiu.com" target="_blank">
                    <span class="name-cn">城市</span>
                    <span class="name-en">City</span></a>
                </li>
                <li>
                  <a href="http://qinzi.huanqiu.com" target="_blank">
                    <span class="name-cn">亲子</span>
                    <span class="name-en">Qinzi</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- E 导航-->
    <div class="all-con">
      <div class="header">
        <div class="inner">
          <h1>
            <a href="//china.huanqiu.com/article/3ye2I4MYThx" target="_blank" th:text="${title}"></a></h1>
          <div class="triangle-border tb-border"></div>
          <div class="triangle-border tb-background"></div>
        </div>
      </div>
      <div class="main">
        <div class="tie-inner" id="huanqiuTieMore">
          <div>
            <div id="huanqiu-tieInner">
              <div id="huanqiu-tiePost" class="posting-panel-inner top">
                <div class="tit-inner">
                  <span class="participate">
                    <var th:text="${commentsNum}">7</var>&nbsp;条跟帖</span>
                  <strong>网友跟帖</strong>
                  <a href="https://i.huanqiu.com/agreement" target="_blank">请遵守《用户条款及隐私协议》</a></div>
                <div class="post-textarea-inner clearfix">
                  <div class="avatar">
                    <img class="my-avatar" src="//himg2.huanqiu.cn/images/avatar.png"></div>
                  <div class="post-textarea">
                    <div class="post-textarea-inner">
                    	<form name="submitForm" method="post" action="makeComments">   
                    			<input type="hidden" th:value="${commentsNum}" name="commentsNum">    
                    			<input type="hidden" th:if="${session.user}!=null" th:value="${session.user.userId}" name="userId" >
                    			<input type="hidden" th:value="${newsId}" name="newsId"> 
                    			<input type="hidden" th:value="${title}" name="title">    
                    	      <textarea autocomplete="off" name="comment" id="tieTextareaMax" class="tie-textarea-box write-box"></textarea>                 	
                    	</form>
                      <div class="tips">理性思考&nbsp;文明跟帖</div></div>
                    <div class="operating-inner clearfix">
                      <div class="login" th:if="${session.user==null}">
                        <a class="user-login" href="login">登录环球网</a>
                        <span class="sx">|</span>
                        <span>社交账号登录：</span>
                        <span class="social-login">
                          <a href="javascript:void(0);" type="qq" class="qq-login"></a>
                          <a href="javascript:void(0);" type="weibo" class="weibo-login"></a>
                          <a href="javascript:void(0);" type="wechat" class="weixin-login"></a>
                        </span>
                      </div>
                      <div class="logined">
                      <div class="user-con hover-style" th:if="${session.user!=null}">
						  <div class="user-name">
						    <a href="javascript:void(0);" th:text="${session.user.username}"></a>
						    <div class="sign-icon"></div>
						  </div>
						  <ul>
						    <li>
						      <a data-uid="1251214410521927680" href="javascript:void(0);" class="logined-user-tie">我的跟贴</a></li>
						    <li>
						      <a class="switch-accounts" href="javascript:void(0);">切换帐号</a></li>
						  </ul>
						</div>
                      </div>
                      <a onClick="document.submitForm.submit();" data-type="disabled" class="release-tie">发表</a></div>
                      <input type="hidden" th:value="${session.user}" class="userSession">
                  </div>
                </div>
              </div>
              <div id="huanqiu-tieList">
                <div class="tie-inner-box hot-tie-inner" data-newtiepage="1">
                  <div class="title">
                    <strong>最热跟贴</strong></div>
                  <ul class="tie-list">
                    <li class="tie-box m-need-avatar" data-id="1251101443415486464" data-reply="0">
                      <div class="user-avatar">
                        <img src="https://m1-1253159997.image.myqcloud.com/resource/images/6e09f1904e2e64d78698defc4fcb9826" class="user-avatar-img" data-uid="1247325952523243520"></div>
                      <div class="user-content">
                        <div class="tie-header">
                          <div class="post-time" th:text="${#dates.format(hottest.commentTime,'yyyy-MM-dd HH:mm:ss')}">3小时前</div>
                          <div class="user-info">
                            <a class="user-name" href="javascript:void(0);" data-uid="1247325952523243520" th:text="${hottest.username}">环球网友_aVy102</a>
                            <span class="ip-location">湖南长沙市网友</span></div>
                        </div>
                        <div class="tie-content" th:text="${hottest.comment}">建议国家好好查查北京病毒来源！</div>
                        <div class="tie-footer">
                          <span class="operating">
                            <a href="javascript:void(0);" class="tie-support">
                              <var class="red" th:text="${hottest.agreeNum}">31</var></a>
                            <a href="javascript:void(0);" class="tie-reply">回复&nbsp;</a>
                            <a class="tie-report" data-link="//china.huanqiu.com/commentreport?comment_id=1251101443415486464" title="举报">
                              <var>举报</var></a>
                          </span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="tie-inner-box new-tie-inner" style="" data-newtiepage="1">
                  <div class="title">
                    <strong>最新跟贴</strong></div>
                  <ul class="tie-list" th:each="c:${commentsList}">
                    <li class="tie-box m-need-avatar" data-id="1251118006147366912" data-reply="0">
                      <div class="user-avatar">
                        <img src="https://m1-1253159997.image.myqcloud.com/resource/images/6e09f1904e2e64d78698defc4fcb9826" class="user-avatar-img" data-uid="1247323656582205440"></div>
                      <div class="user-content">
                        <div class="tie-header">
                          <div class="post-time" th:text="${#dates.format(c.commentTime,'yyyy-MM-dd HH:mm:ss')}">1小时前</div>
                          <div class="user-info">
                            <a class="user-name" href="javascript:void(0);" data-uid="1247323656582205440" th:text="${c.username}">lybion</a>
                            <span class="ip-location">四川绵阳市网友</span></div>
                        </div>
                        <div class="tie-content" th:text="${c.comment}">都是外部输入型，湿货国际贸易必须严查</div>
                        <div class="tie-footer">
                          <span class="operating">
                            <a href="javascript:void(0);" class="tie-support">
                              <var class="red" th:text="${c.agreeNum}">4</var></a>
                            <a href="javascript:void(0);" class="tie-reply">回复&nbsp;</a>
                            <a class="tie-report" data-link="//china.huanqiu.com/commentreport?comment_id=1251118006147366912" title="举报">
                              <var>举报</var></a>
                          </span>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="go-to-top">
                    <a href="javascript:scroll(0,0)">此贴已全部展示，点击返回顶部</a></div>
                </div>
              </div>
              <div id="huanqiuUserIndexInner" style="display: none;">
                <div id="huanqiu-userIndex" class="ui_animated"></div>
                <div id="loginPopupBgfif" class="bgfif"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="other-inner">
          <div class="box-inner hot-ranking-inner">
            <div class="inner-tit">
              <div class="tit">热帖排行</div>
              <div class="tit-shadow"></div>
            </div>
            <div class="con">
              <ul>
                <li class="top-3">
                  <div class="num">1</div>
                  <div class="value">
                    <a href="https://china.huanqiu.com/article/3y9TxKiqkRa" target="_blank" title="胡锡进呼吁：中国需短时间内把核弹头增至千枚">胡锡进呼吁：中国需短时间内把核弹头增至千枚</a>
                    <span>（9154人参与）</span></div>
                </li>
                <li class="top-3">
                  <div class="num">2</div>
                  <div class="value">
                    <a href="https://opinion.huanqiu.com/article/3xx9xzXcwdD" target="_blank" title="社评：向中国“索赔”，美国司法也在“流氓化”">社评：向中国“索赔”，美国司法也在“流氓化”</a>
                    <span>（3714人参与）</span></div>
                </li>
                <li class="top-3">
                  <div class="num">3</div>
                  <div class="value">
                    <a href="https://china.huanqiu.com/article/3yARBkZMkwI" target="_blank" title="胡锡进看到了什么，强烈主张中国扩大核力量">胡锡进看到了什么，强烈主张中国扩大核力量</a>
                    <span>（8908人参与）</span></div>
                </li>
                <li class="top-3">
                  <div class="num">4</div>
                  <div class="value">
                    <a href="https://opinion.huanqiu.com/article/3y5nGs7njvk" target="_blank" title="社评：蓬佩奥撒谎更加“奋不顾身”了">社评：蓬佩奥撒谎更加“奋不顾身”了</a>
                    <span>（3864人参与）</span></div>
                </li>
                <li>
                  <div class="num">5</div>
                  <div class="value">
                    <a href="https://opinion.huanqiu.com/article/3yFYWrlrXFR" target="_blank" title="社评：回击美方不手软，更要打好持久战">社评：回击美方不手软，更要打好持久战</a>
                    <span>（4560人参与）</span></div>
                </li>
                <li>
                  <div class="num">6</div>
                  <div class="value">
                    <a href="https://world.huanqiu.com/article/3xnKDX9MSLp" target="_blank" title="美媒：医学界认为，美国新冠肺炎死亡病例数据存在漏报">美媒：医学界认为，美国新冠肺炎死亡病例数据存在漏报</a>
                    <span>（197人参与）</span></div>
                </li>
                <li>
                  <div class="num">7</div>
                  <div class="value">
                    <a href="https://opinion.huanqiu.com/article/3xttNIt9rF2" target="_blank" title="社评：想踩着中国爬上连任，白宫想错了">社评：想踩着中国爬上连任，白宫想错了</a>
                    <span>（6017人参与）</span></div>
                </li>
                <li>
                  <div class="num">8</div>
                  <div class="value">
                    <a href="https://world.huanqiu.com/article/3xnFg9KL9rO" target="_blank" title="美国这样错过抗疫最关键70天，华邮万字长文调查特朗普为何输给病毒">美国这样错过抗疫最关键70天，华邮万字长文调查特朗普为何输给病毒</a>
                    <span>（218人参与）</span></div>
                </li>
                <li>
                  <div class="num">9</div>
                  <div class="value">
                    <a href="https://opinion.huanqiu.com/article/3xznJ3OmSFg" target="_blank" title="社评：蓬佩奥正在成为世界和平的敌人">社评：蓬佩奥正在成为世界和平的敌人</a>
                    <span>（4833人参与）</span></div>
                </li>
                <li>
                  <div class="num">10</div>
                  <div class="value">
                    <a href="https://opinion.huanqiu.com/article/3y9btrS8xy8" target="_blank" title="社评：美国来势汹汹，中国需做长期应对准备">社评：美国来势汹汹，中国需做长期应对准备</a>
                    <span>（5202人参与）</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript" src="js/allComments.js"></script>
  </body>

</html>