<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="format-detection" content="telephone=no" />
  <script>var global_host = {host : "world.cse3pl8tdbi.huanqiu.com",path : "world.cse3pl8tdbi.huanqiu.com"}</script>
  <script type="text/javascript" src="//rs2.huanqiucdn.cn/huanqiu/js/www/common/global_control.js"></script>
  <meta name="keywords" content="国际时事,时政要闻,国际热点,新闻人物,国际博览,评论分析,外媒关注,媒体聚焦" />
  <meta name="description" content="环球网王牌频道,专门显示国际时事、综述评论及图片的栏目,主要包括环球时报和环球网独家新闻、国际博览、新闻人物、评论分析、媒体聚焦等。" />
  <title id="pageTitle">国际新闻_环球网</title>
  <script>var article = 1;</script>
  <!--Ad Survey 广告加载基础代码-->
  <script type="text/javascript" src="//ipengtai.huanqiu.com/resource/js/base_mobile2.js"></script>
  <link rel="stylesheet" type="text/css" href="//rs1.huanqiucdn.cn/dp/api/assets?dp_csid=cse3pl8tdbi&amp;dp_instanceid=dpe3plc9q0n&amp;dp_commit=992bdbe5fb2304d85ccac6031026ea13a3686888&amp;dp_path=layouts/global/global.css,layouts/world_index/world_index.css,controls/all_index_nav_new/all_index_nav_new.css,controls/go_index_site_nav/go_index_site_nav.css,controls/all_index_focus/all_index_focus.css,controls/list/list.css,controls/all_index_modG/all_index_modG.css,controls/all_index_hqIndustry_s/all_index_hqIndustry_s.css,controls/all_index_news/all_index_news.css,controls/all_index_hotnews_s/all_index_hotnews_s.css" /> 
  <link href="//rs2.huanqiucdn.cn/huanqiu/image/www/common/favicon1.ico" rel="shortcut icon" />
 </head>
 <body>
  <!-- S 导航-->
  <!--<div class="topIndex" id="header-wrap">-->
  <!--    <div id="top-ad-wrap">-->
  <!--        <div class="onPadding">-->
  <!--            <div  class="topAd_01">-->
  <!-- Ad Survey 广告位代码  文章页-顶通-->
  <!--                <script type="text/javascript">AD_SURVEY_Add_AdPos("7004736");</script>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->
  <!--    <div class="hdTop">-->
  <!--        <div class="navClick"></div>-->
  <!--        <div class="navTopSec">-->
  <!--            <div class="nav-container">-->
  <!--                <a href="http://www.huanqiu.com" target="_self" class="nav-logo"></a>-->
  <!--                <div class="nav-section">-->
  <!--                    <div class="nav-section-submenu">-->
  <!--                    </div>-->
  <!--                    <div class="nav-section-article-title"></div>-->
  <!--                </div>-->
  <!--                <form id="search-form" class="search-form" action="" name="headerSearch">-->
  <!--                    <div class="search-form-fields">-->
  <!--                        <input class="search-input" type="text" placeholder="Search...">-->
  <!--                        <input type="button" class="search-submit-button" value="Search »">-->
  <!--                    </div>-->
  <!--                    <div class="search-button" id="search-button"></div>-->
  <!--                </form>-->
  <!--                <div class="nav-menu" id="menu"></div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--        <cs-control data-src="controls/all_index_nav/all_index_nav"></cs-control>-->
  <!--    </div>-->
  <!--</div>-->
  <!-- S 导航-->
  <div class="topIndex" id="header-wrap">
   <div id="top-ad-wrap">
    <div class="onPadding">
     <div class="topAd_01">
      <!-- Ad Survey 广告位代码顶通  // 7004730 ->商业频道顶通  -->
      <script type="text/javascript">AD_SURVEY_Add_AdPos("7004736");</script>
     </div>
    </div>
   </div>
   <div class="hdTop">
    <div class="navClick"></div>
    <div class="navTopSec">
     <div class="nav-container">
      <a href="//www.huanqiu.com" target="_self" class="nav-logo"></a>
      <i class="l-line"></i>
      <div class="nav-section">
       <div class="nav-section-submenu"></div>
       <div class="nav-section-article-title"></div>
      </div>
      <form id="search-form" class="search-form" action="" name="headerSearch">
       <div class="search-form-fields">
        <input class="search-input" type="text" placeholder="请输入..." />
        <input type="button" class="search-submit-button" value="&raquo;" />
       </div>
       <div class="search-button" id="search-button"></div>
      </form>
      <div class="nav-menu" id="menu"></div>
     </div>
    </div>
    <div class="navFlyout">
     <div class="nav-flyout-container">
      <div class="nav-flyout-menu-item s-hight">
       <div class="nav-flyout-menu-item-title">
        <h3>时政2<span></span></h3>
        <h4>Politics<span></span></h4>
       </div>
       <ul class="nav-flyout-menu-item-list">
        <li><a href="#" target="_blank"><span class="name-cn">国际</span><span class="name-en">World</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">国内</span><span class="name-en">China</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">军事</span><span class="name-en">Military</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">台湾</span><span class="name-en">Taiwan</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">社会</span><span class="name-en">Society</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">博览</span><span class="name-en">Look</span></a></li>
       </ul>
      </div>
      <div class="nav-flyout-menu-item s-hight">
       <div class="nav-flyout-menu-item-title">
        <h3>财经<span>&amp;</span>科技</h3>
        <h4>Finance<span>&amp;</span>Technology</h4>
       </div>
       <ul class="nav-flyout-menu-item-list long">
        <li><a href="#" target="_blank"><span class="name-cn">财经</span><span class="name-en">Financial</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">一带一路</span><span class="name-en">Belt and Road</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">财观察</span><span class="name-en">Observation</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">科技</span><span class="name-en">Technology</span></a></li>
       </ul>
      </div>
      <div class="nav-flyout-menu-item s-hight">
       <div class="nav-flyout-menu-item-title">
        <h3>汽车<span>&amp;</span>数码</h3>
        <h4>Auto<span>&amp;</span>Digital</h4>
       </div>
       <ul class="nav-flyout-menu-item-list long3">
        <li><a href="#" target="_blank"><span class="name-cn">汽车</span><span class="name-en">Auto</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">智能</span><span class="name-en">Smart</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">数码</span><span class="name-en">Digital</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">无人机</span><span class="name-en">UVA</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">游戏</span><span class="name-en">Game</span></a></li>
       </ul>
      </div>
      <div class="nav-flyout-menu-item">
       <div class="nav-flyout-menu-item-title">
        <h3>生活</h3>
        <h4>Life News</h4>
       </div>
       <ul class="nav-flyout-menu-item-list">
        <li><a href="#" target="_blank"><span class="name-cn">文旅</span><span class="name-en">Tourism</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">健康</span><span class="name-en">Hearth</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">教育</span><span class="name-en">Education</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">质量</span><span class="name-en">Quality</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">体育</span><span class="name-en">Sports</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">跑步</span><span class="name-en">Run</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">滑雪</span><span class="name-en">Skiing</span></a></li>
       </ul>
      </div>
      <div class="nav-flyout-menu-item">
       <div class="nav-flyout-menu-item-title">
        <h3>风尚</h3>
        <h4>Fashion News</h4>
       </div>
       <ul class="nav-flyout-menu-item-list">
        <li><a href="#" target="_blank"><span class="name-cn">娱乐</span><span class="name-en">Entertainment</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">时尚</span><span class="name-en">Fashion</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">艺术</span><span class="name-en">Art</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">品鉴</span><span class="name-en">Luxury</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">文化</span><span class="name-en">Culture</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">公益</span><span class="name-en">Commonweal</span></a></li>
       </ul>
      </div>
      <div class="nav-flyout-menu-item">
       <div class="nav-flyout-menu-item-title">
        <h3>特色<span>&amp;</span>产品</h3>
        <h4>Featured<span>&amp;</span>Products</h4>
       </div>
       <ul class="nav-flyout-menu-item-list long2">
        <li><a href="#" target="_blank"><span class="name-cn">环球社评</span><span class="name-en">Editorial</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">海外看中国</span><span class="name-en">Oversee</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">环球 TIME</span><span class="name-en"></span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">环游号</span><span class="name-en"></span></a></li>
       </ul>
      </div>
      <div class="nav-flyout-menu-item">
       <div class="nav-flyout-menu-item-title">
        <h3>环球时报</h3>
        <h4>Newspaper Products</h4>
       </div>
       <ul class="nav-flyout-menu-item-list">
        <li><a href="#" target="_blank"><p>版权数据库</p></a></li>
        <li><a href="#" target="_blank"><p>生命时报</p></a></li>
        <li><a href="#" target="_blank"><p>品牌活动</p></a></li>
        <li><a href="#" target="_blank"><p>环球旅游周刊</p></a></li>
        <li><a href="#" target="_blank"><p>环球时报公基金会</p></a></li>
        <li><a href="#" target="_blank"><p>讽刺与幽默</p></a></li>
        <li><a href="#" target="_blank"><p>舆情中心</p></a></li>
        <li><a href="#" target="_blank"><p>Global Times</p></a></li>
       </ul>
      </div>
      <div class="nav-flyout-menu-item">
       <div class="nav-flyout-menu-item-title">
        <h3>合作</h3>
        <h4>Cooperation</h4>
       </div>
       <ul class="nav-flyout-menu-item-list long3">
        <li><a href="#" target="_blank"><span class="name-cn">商协会</span><span class="name-en">Chamber</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">大数据</span><span class="name-en">Bigdatat</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">商业</span><span class="name-en">Business</span></a></li>
        <li><a href="#" target="_blank"><span class="name-cn">城市</span><span class="name-en">City</span></a></li>
       </ul>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- E 导航-->
  <div class="all-con">
   <div class="container">
    <div class="b-container">
     <div class="l-container">
      <div class="kong"></div>
      <!-- 频道菜单 -->
      <div class="l-list"></div>
      <!-- 频道菜单 -->
     </div>
     <div class="m-container">
      <div class="kong"></div>
      <!-- 轮播图 -->
      <div class="focus-box">
       <ul id="focus">
        <li><a href="//world.huanqiu.com/gallery/3xS8N9yA77j" class="cs-link" target="_blank"><img src="https://rs1.huanqiucdn.cn/dp/api/images/OY3VfSw_15Z117VwkcIkPH5p.jpg?w=1000" alt="纽约股市暴跌再度触发熔断" />
          <div class="slide-tit">
           <p>纽约股市暴跌再度触发熔断</p>
          </div></a></li>
        <li><a href="//world.huanqiu.com/gallery/3xS8JWphZbA" class="cs-link" target="_blank"><img src="https://rs1.huanqiucdn.cn/dp/api/images/nXCoSSQWiTvtke5xRMq8VYcf.jpg?w=1000" alt="世卫组织：中国以外新冠肺炎累计确诊病例数已超中国" />
          <div class="slide-tit">
           <p>世卫组织：中国以外新冠肺炎累计确诊病例数已超中国</p>
          </div></a></li>
        <li><a href="//world.huanqiu.com/gallery/3xS8Hd6qhdZ" class="cs-link" target="_blank"><img src="https://rs1.huanqiucdn.cn/dp/api/images/pTjrmICZk52OflcbQDP9sO87.jpg?w=1000" alt="埃及将暂停所有进出埃及的航班" />
          <div class="slide-tit">
           <p>埃及将暂停所有进出埃及的航班</p>
          </div></a></li>
        <li class="f-ad"><script type="text/javascript">AD_SURVEY_Add_AdPos("7004735");</script></li>
       </ul>
       <div class="focus-page"></div>
       <div class="focus-opts">
        <a href="javascript:void(0);" class="prev-btn" title="向左滚动"></a>
        <a href="javascript:void(0);" class="next-btn" title="向右滚动"></a>
       </div>
      </div>
      <!-- 轮播图 -->
      <!-- 推荐内容 -->
      <div class="m-recommend">
       <h3 class="m-recommend-title">最新消息</h3>
       <div class="m-recommend-con">
        <ul id="recommend"></ul>
        <div class="no-loading"></div>
       </div>
      </div>
      <!-- 推荐内容 -->
     </div>
     <!-- 右侧内容部分 -->
     <div class="r-container">
      <div class="kong"></div>
      <!-- G -->
      <div class="r-modG s-box">
       <h3><span></span>环球要闻</h3>
       <ul>
        <li><a href="//world.huanqiu.com/article/3xS9DZ3EtpQ" data-type="normal" class="cs-link" target="_blank"><i></i><p>一觉醒来，多国闭关！</p></a></li>
        <li><a href="//world.huanqiu.com/article/3xSAEYRBCsr" data-type="normal" class="cs-link" target="_blank"><i></i><p>开盘即熔断！道指创33年最大单日跌幅！市场在等这一针“强心剂”</p></a></li>
        <li><a href="//world.huanqiu.com/article/3xSBlTUccl3" data-type="normal" class="cs-link" target="_blank"><i></i><p>五角大楼37人确诊，美国国防部正副部长被隔离！全球疫情最新信息汇总</p></a></li>
       </ul>
      </div>
      <!--广告-->
      <div class="ad_01">
       <!-- Ad Survey 广告位代码  文章页画中画02  //7004730->商业频道画中画 -->
       <script type="text/javascript">AD_SURVEY_Add_AdPos("7004737");</script>
      </div>
      <!-- C短标题 -->
      <div class="r-hqIndustry s-box r-hqIndustry-s">
       <h3><span></span>今日推荐</h3>
       <div class="hqIndustry-pic">
        <div class="pic-item right">
         <a href="//world.huanqiu.com/article/3xSB7Ui3Oo8" class="cs-link" target="_blank"><img src="https://rs1.huanqiucdn.cn/dp/api/images/imageDir/aed520a3f6115feae05544bdc3da0d1d.jpg?w=280" title="两周内第三次熔断！美国股市最糟糕的一天？" alt="" /><p><span long-title="两周内第三次熔断！美国股市最糟糕的一天？">美股市最糟糕的一天</span></p></a>
        </div>
        <div class="pic-item">
         <a href="//world.huanqiu.com/article/3xSC2jwf2qX" class="cs-link" target="_blank"><img src="https://rs1.huanqiucdn.cn/dp/api/images/imageDir/31bb0ab8f622c49390494e34fb76b794.jpg?w=280" title="全球至少30国宣布进入紧急状态&nbsp;推出封城令等最严举措" alt="" /><p><span long-title="全球至少30国宣布进入紧急状态&nbsp;推出封城令等最严举措">30国进入紧急状态</span></p></a>
        </div>
       </div>
       <ul>
        <li><a href="//world.huanqiu.com/article/3xSCDuSwRJt" class="cs-link" target="_blank" long-title="英国出台更严厉抗疫措施：应尽可能居家办公">英国出台更严厉抗疫措施：应尽可能居家办公</a></li>
        <li><a href="//world.huanqiu.com/article/3xSBN0orrBj" class="cs-link" target="_blank" long-title="安倍期待东京奥运按计划举办&nbsp;称希望显示战胜疫情">安倍期待东京奥运按计划举办 称希望战胜疫情</a></li>
        <li><a href="//world.huanqiu.com/article/3xSAbNuVekV" class="cs-link" target="_blank" long-title="美国疾控中心“中招”，出现第一例新冠病毒感染者">美国疾控中心“中招”，现第一例感染者</a></li>
        <li><a href="//world.huanqiu.com/article/3xSAZDuYqJJ" class="cs-link" target="_blank" long-title="多国疫情告急背后：欧盟只能同甘不能共苦？">多国疫情告急背后：欧盟只能同甘不能共苦？</a></li>
       </ul>
      </div>
      <!-- A -->
      <div class="r-hqNews s-box">
       <h3><span></span>精彩专题</h3>
       <ul>
        <li><a href="//world.huanqiu.com/article/3weTe76jSAc" class="cs-link" target="_blank"><p>习近平对缅甸进行国事访问</p></a></li>
        <li><a href="//world.huanqiu.com/article/7RzkGTrqMUM" class="cs-link" target="_blank"><p>习近平对希腊进行国事访问</p></a></li>
        <li><a href="//world.huanqiu.com/article/7RbPimds6Qw" class="cs-link" target="_blank"><p>领航强军新时代 与共和国一路同行</p></a></li>
        <li><a href="//world.huanqiu.com/article/7QLiCBfUcEg" class="cs-link" target="_blank"><p>习近平出席中印领导人非正式会晤并访问尼泊尔</p></a></li>
       </ul>
      </div>
      <!-- F短标题 -->
      <div class="r-hotnews s-box">
       <h3><span></span>热门新闻</h3>
       <ul id="hotnews">
        <li class="hotnews-pic"><a href="//world.huanqiu.com/article/3xSCv7NzVjG" data-type="normal" class="cs-link" target="_blank"><span class="listPw"><img src="https://rs1.huanqiucdn.cn/dp/api/images/imageDir/3b232949b2ca8e3b5f88c273b126efeb.png?w=180" alt="" /></span><h3 long-title="疫情严峻，中药在国外火了？记者实地探访">疫情严峻，中药在国外火了？总台记者实地探访</h3>
          <div class="info">
           1584408393167
          </div></a></li>
        <li class="hotnews-pic"><a href="//world.huanqiu.com/article/3xSCiE77DJy" data-type="normal" class="cs-link" target="_blank"><span class="listPw"><img src="https://rs1.huanqiucdn.cn/dp/api/images/imageDir/76681fe8a483949abbc41c96dfdce420.jpg?w=180" alt="" /></span><h3 long-title="旧病新伤又遭疫情“急症”，欧洲经济或将遭遇“第三次冲击”">旧病新伤又遭疫情“急症”，欧洲经济或将遭遇“第三次冲击”</h3>
          <div class="info">
           1584408044008
          </div></a></li>
        <li class="hotnews-pic"><a href="//world.huanqiu.com/article/3xSCgL3hpAW" data-type="normal" class="cs-link" target="_blank"><span class="listPw"><img src="https://rs1.huanqiucdn.cn/dp/api/images/imageDir/fdac926e2660997c6ffa947d139af0ed.png?w=180" alt="" /></span><h3 long-title="日本男子酒醉嚷&quot;我得新冠肺炎了&quot;当场被捕&nbsp;致电车延误1小时">日本男子酒醉嚷&quot;我得新冠肺炎了&quot;当场被捕 致电车延误1小时</h3>
          <div class="info">
           1584407992873
          </div></a></li>
        <li class="hotnews-pic"><a href="//world.huanqiu.com/article/3xSCbOVM1Q6" data-type="normal" class="cs-link" target="_blank"><span class="listPw"><img src="https://rs1.huanqiucdn.cn/dp/api/images/imageDir/38a8dd841775399525ec1a2ae07fda26.jpg?w=180" alt="" /></span><h3 long-title="日媒：东京奥组委多名理事同意奥运会推迟至2022年">日媒：东京奥组委多名理事同意奥运会推迟至2022年</h3>
          <div class="info">
           1584407858956
          </div></a></li>
       </ul>
      </div>
     </div>
    </div>
   </div>
   <!--<div class="left-gray"></div>-->
  </div>
  <!-- 底部广告 -->
  <div class="float-ad">
   <div class="fAd-content">
    <script type="text/javascript">AD_SURVEY_Add_AdPos("7005138");</script>
   </div>
  </div>
  <a href="javascript:void(0)" class="fAd-btn">收起</a>
  <!-- 统计代码 -->
  <script type="text/javascript">var _report = _report || [];
    _report.push(['_setAccount', 'webGYj6Xe3q91jcs3']);

    _report.push(['_setCustomVar', 1, 'custom1', '']);
    _report.push(['_setCustomVar', 2, 'custom2', '']);
    _report.push(['_setCustomVar', 3, 'custom3', '']);
    _report.push(['_setCustomVar', 4, 'custom4', '']);
    _report.push(['_setCustomVar', 5, 'custom5', '']);
    _report.push(['_setCustomVar', 6, 'custom6', '']);
    _report.push(['_setCustomVar', 7, 'custom7', '']);
    _report.push(['_setCustomVar', 8, 'custom8', '']);

    (function() {
        var report = document.createElement("script");
        report.src = "https://analysis-reporting.develenv.com/report.js?id=858d45e1f01f24b9ae02e83792a3ce3c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(report, s);
    })();
    // 百度推送
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    // 百度统计 
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F1fc983b4c305d209e7e05d96e713939f' type='text/javascript'%3E%3C/script%3E"));
    // cnzz 统计
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1000010102'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000010102' type='text/javascript'%3E%3C/script%3E"));</script>
  <!-- /end 统计代码 -->
  <script type="text/javascript" src="//rs1.huanqiucdn.cn/dp/api/assets?dp_csid=cse3pl8tdbi&amp;dp_instanceid=dpe3plc9q0n&amp;dp_commit=992bdbe5fb2304d85ccac6031026ea13a3686888&amp;dp_path=layouts/global/jquery1.9.1.js,layouts/world_index/jquery.carouFredSel-6.2.1-packed.js,layouts/world_index/world_index.js,controls/global_control/global_control.js,controls/all_index_nav_new/all_index_nav_new.js,controls/go_index_site_nav/go_index_site_nav.js,controls/list/list.js,controls/all_index_hqIndustry_s/all_index_hqIndustry_s.js,controls/all_index_news/all_index_news.js,controls/all_index_hotnews_s/all_index_hotnews_s.js"></script> 
 </body>
</html>