<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newswebsite.dao.AtypeMapper">
  <resultMap id="BaseResultMap" type="com.newswebsite.bean.Atype">
    <id column="atype_id" jdbcType="INTEGER" property="atypeId" />
    <result column="atype" jdbcType="VARCHAR" property="atype" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    atype_id, atype
  </sql>
  <select id="selectByExample" parameterType="com.newswebsite.bean.AtypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from atype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from atype
    where atype_id = #{atypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from atype
    where atype_id = #{atypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.newswebsite.bean.AtypeExample">
    delete from atype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.newswebsite.bean.Atype">
    insert into atype (atype_id, atype)
    values (#{atypeId,jdbcType=INTEGER}, #{atype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.newswebsite.bean.Atype">
    insert into atype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="atypeId != null">
        atype_id,
      </if>
      <if test="atype != null">
        atype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="atypeId != null">
        #{atypeId,jdbcType=INTEGER},
      </if>
      <if test="atype != null">
        #{atype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.newswebsite.bean.AtypeExample" resultType="java.lang.Long">
    select count(*) from atype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update atype
    <set>
      <if test="record.atypeId != null">
        atype_id = #{record.atypeId,jdbcType=INTEGER},
      </if>
      <if test="record.atype != null">
        atype = #{record.atype,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update atype
    set atype_id = #{record.atypeId,jdbcType=INTEGER},
      atype = #{record.atype,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.newswebsite.bean.Atype">
    update atype
    <set>
      <if test="atype != null">
        atype = #{atype,jdbcType=VARCHAR},
      </if>
    </set>
    where atype_id = #{atypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newswebsite.bean.Atype">
    update atype
    set atype = #{atype,jdbcType=VARCHAR}
    where atype_id = #{atypeId,jdbcType=INTEGER}
  </update>
</mapper>